<mat-toolbar color="primary"> CondoLinker </mat-toolbar>
<div class="container responsive-grid">
  <mat-card *ngFor="let func of funcionalidades">
    <mat-card-header>
      <mat-card-title>{{ func.descFuncionalidade }} </mat-card-title>
    </mat-card-header>
    <br />
    <div style="align-items: center; justify-content: center; align-content: center; text-align: center;">
      <img mat-card-image [src]="func.sourceIcone" (click) =redireciona(func.linkPagina) />
    </div>

  </mat-card>
</div>

