
<section class="container">

  <div class="item">
    <p>Atribuir Perfil</p>
    <img src="https://github.com/lfbandeira/public/blob/main/AtribuirPerfil.png?raw=true">
  </div>

  <div class="item">
    <p>Cadastrar Perfil</p>
    <img src="https://raw.githubusercontent.com/lfbandeira/public/refs/heads/main/Perfil.png">
  </div>

  <div class="item">
    <p>Cadastrar Notícias</p>
    <img src="https://github.com/lfbandeira/public/blob/main/Cadastrar%20Noticias.png?raw=true">
 </div>

 <div class="item">

  <p>Cadastrar Condomínios</p>
  <img src="https://github.com/lfbandeira/public/blob/main/buildings.png?raw=true">
  </div>

  <div class="item">
    <p>Cadastrar Funcionalidades</p>
    <img src="https://github.com/lfbandeira/public/blob/main/Funcionalidade.png?raw=true">
  </div>
</section>
